<!doctype html>
<html>
  <head>
    <title><%= @brotel_bro %></title>
  </head>
  <body>
    <h2><%= @brotel_bro %><h2>
    <div id="bio">
      <p><strong><%= @bio %></strong></p>
    </div>
  </body>
</html>